@font-face {
  font-family: "TW Kai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://assets.taiwancards.app/fonts/tw-kai-core.woff2?v=652c215f") format("woff2");
  unicode-range:
    U+0020-007E, U+00A0-00FF, U+02C7, U+02CA-02CB, U+02D9, U+2000-206F,
    U+3000-303F, U+3105-312F, U+31A0-31BF, U+4E03, U+4E09-4E0B, U+4E0D, U+4E14,
    U+4E16, U+4E26, U+4E2D, U+4E3B, U+4E4B, U+4E5D, U+4E5F, U+4E8B, U+4E94,
    U+4E9B, U+4EC0, U+4ED6, U+4EE4-4EE5, U+4EF6, U+4F4D, U+4F4F, U+4F55, U+4F5C,
    U+4F60, U+4F7F, U+4F86, U+4FBF, U+4FDD, U+500B, U+5011, U+5019, U+505A,
    U+50B3, U+50CF, U+5148, U+514B, U+5152, U+5167-5169, U+516C-516D, U+5176,
    U+518D, U+51FA, U+5206, U+5229, U+5230, U+5247, U+524D, U+529F, U+52D5,
    U+5316, U+534A, U+5373, U+539F, U+53BB, U+53C8, U+53CD, U+53D7, U+53E3,
    U+53EA-53EB, U+53EF, U+53F2, U+53F8, U+5403-5404, U+540C-540D, U+5411,
    U+544A, U+5462, U+547D, U+54C1, U+54E1, U+554F, U+559C, U+55CE, U+56DB,
    U+56DE, U+56E0, U+570B, U+5728, U+5750, U+57FA, U+5834, U+5916, U+591A,
    U+5929-592B, U+5931, U+5979, U+5982, U+59CB, U+5B69, U+5B78, U+5B83, U+5B89,
    U+5B9A, U+5BB6, U+5BB9, U+5BE6, U+5BEB, U+5C07, U+5C0D, U+5C0F, U+5C11,
    U+5C31, U+5C55, U+5DE5, U+5DF2, U+5E1D, U+5E2B, U+5E36, U+5E73-5E74, U+5E7E,
    U+5F0F, U+5F35, U+5F62, U+5F71, U+5F80, U+5F88, U+5F8C, U+5F9E, U+5FB7,
    U+5FC5, U+5FEB, U+601D, U+6027, U+60A8, U+60C5, U+60F3, U+610F, U+611B,
    U+611F, U+61C9, U+6210-6211, U+6230, U+6240, U+624B, U+624D, U+6253, U+627E,
    U+628A, U+62C9, U+6301, U+6307, U+6539, U+653E-653F, U+6574, U+6578, U+6587,
    U+65AF-65B0, U+65B9, U+65BC, U+660E, U+662F, U+6642, U+66F4, U+66F8, U+6700,
    U+6703, U+6708-6709, U+671B, U+671F, U+672A, U+672C, U+6771, U+679C, U+67D0,
    U+683C, U+689D, U+696D, U+6A02, U+6A5F, U+6B21, U+6B63-6B64, U+6B72, U+6B7B,
    U+6BB5, U+6BCF, U+6C11, U+6C23, U+6C42, U+6C7A, U+6C92, U+6CBB, U+6CD5,
    U+6D3B, U+6D41, U+6E05, U+7121, U+7136, U+723E, U+7269, U+7279, U+738B,
    U+73FE, U+7406, U+7522, U+7531, U+754C, U+7576, U+75C5, U+7684, U+7687,
    U+76EE, U+76F4, U+76F8, U+773C, U+77E5, U+7814, U+78BA, U+793E, U+79D1,
    U+7A0B, U+7A76, U+7B49, U+7D50, U+7D66, U+7D71, U+7D93, U+7E3D, U+7FA9,
    U+7FD2, U+8001, U+8005, U+8072, U+807D, U+80FD, U+8166, U+81C9, U+81F3,
    U+81FA, U+8207, U+82B1, U+8655, U+8868, U+88AB, U+8981, U+898B, U+89AA,
    U+89BA, U+89C0, U+89E3, U+8A08, U+8A18, U+8A31, U+8A71-8A72, U+8A8D, U+8AAA,
    U+8AB0, U+8ACB, U+8AD6, U+8B58, U+8B8A, U+8B93, U+8CC7, U+8D77, U+8DDF,
    U+8DEF, U+8ECA, U+8ECD, U+9019-901A, U+9020, U+9023, U+9032, U+904B, U+904E,
    U+9084, U+908A, U+90A3, U+90E8, U+90FD, U+91CF, U+9322, U+9580, U+95DC,
    U+96E3, U+96FB, U+9700, U+975E, U+982D, U+984C, U+99AC, U+9AD4, U+9AD8,
    U+9EBC, U+9EDE, U+FF00-FFEF;
}
