*.pyc
.DS_Store
/.bundle/
/.context/
/.env*
!/.env.dev
/.ruby-lsp/
/.ruff_cache/
/app/assets/builds/*
!/app/assets/builds/.keep
/config/*.key
/corpora/
/coverage/
/data/
/dict_and_corpora/
/log/
/media/
/moe_audio
/moe_audio_words
/node_modules/
/public/assets/
/public/audio
/storage/
/tmp/
__pycache__/
/phrase_drills.txt
