.text-3xl.font-semibold lang="zh-TW" = head.text
= grammar_reading(head.text, lesson)
- if head.meaning(I18n.locale)
  .line-clamp-2.text-center.text-xs.text-muted-foreground = head.meaning(I18n.locale)
